.formContainer {
    background-color: #b8e3ff;
    height: 98vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            color:  #61b0b7;
            font-weight: bold;
            font-size: 24px;
        }
        
        .title {
            color: #61b0b7;
            font-weight: bold;
        }

        span {
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                border-bottom: 1px solid #61b0b7;
            &::placeholder{
                color: rgb(175,175,175);
            }
            }

            button{ 
                background-color: #61b0b7;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}

